#combatArea {
	position: relative;
}

.combatCover {
	height: 116%;
	width: 105%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	justify-content: center;
	align-items: center;
	z-index: 99;
	margin: -20px;
	border-radius: 1em;
}

#beginCombatButton, #continueButton {
	background-color: var(--primary);
	font-size: 1.5em;
	z-index: 100 !important;
}

#combatVictory {
	flex-direction: column;
}

#victoryText {
	background-color: var(--foreground);
	padding: 2em;
	font-size: 1.5em;
	border-radius: 1em;
}

#combatSection {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: space-evenly;
}

#playerBar {
	background-color: var(--defense);
}

.wrap {
	position: relative;
	overflow: hidden;
}

#battleTextArea {
	background-color: black;
	width: 300px;
	height: 300px;
	padding: 10px;
	margin-left: 20px;
	overflow-y: auto;
	color: white;
	display: inline-block;
	border: solid .25em var(--primary);
	border-radius: 1em;
}

.textGradient {
	width: 86.5%;
	height: 30%;
	position: absolute;
	top: 1.5%;
	right: 6.5%;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
	border-radius: 0.8em 0.8em 0 0;
	z-index: 5;
	pointer-events: none;
}

#attacks {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#attacks .button {
	flex-basis: 50%;
}

#enemyAndTextArea {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.MuiFormControlLabel-labelPlacementEnd {
	margin-left: 1em !important;
}

@media screen and (max-width: 887px) {
	.combatCover {
		width: 88vw;
		margin: 0;
		height: 100%;
	}
}

@media screen and (max-width: 800px) {
	#enemyAndTextArea {
		flex-direction: column;
	}
	#battleTextArea {
		height: 100px;
		width: 90%;
		min-width: 300px;
		max-width: 500px;
		margin: 5px 0;
	}
	.textGradient {
		top: 6.5%;
		right: 7.75%;
		width: 91%;
	}
}

#mobileNote {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#attacks {
		gap: 5px;
	}
}

@media screen and (max-width: 600px) {
	#victoryText, #continueButton {
		font-size: 1em;
		padding: 1em;
		margin: 0.5em;
	}
}

@media screen and (max-width: 480px) {
	#attacks {
		gap: 0;
	}
	.combatCover {
		width: 100%;
		margin: 0;
	}
	#continueButton {
		min-width: 10em;
	}
	#battleTextArea {
		min-width: 200px;
	}
}