#storyButtonArea {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#storyButtonArea > .button {
	flex: 50%;
}

.storyChoiceButton {
	background-color: var(--primary)
}