#characterSelectPage {
	min-height: 20em;
}

#allCharacters {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20em;
}

#buttonsSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hidden {
	opacity: 0;
}

.show {
	opacity: 1;
}