#characterSelectPage {
	min-height: 20em;
}

#allCharacters {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20em;
}

#buttonsSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hidden {
	opacity: 0;
}

.show {
	opacity: 1;
}

.statKey {
	font-weight: bold;
}


@media screen and (max-width: 1382px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {
	#characterSelectPage {
		width: max-content;
	}
}

@media screen and (max-width: 480px) {
	#characterSelectPage {
		padding: 20px 0;
	}
	.stats {
		display: none;
	}
	.level, .time {
		font-weight: 500;
	}
}