#characterSelectPage {
	min-height: 20em;
}

#allCharacters {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20em;
}

#buttonsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 1em;
}

#buttonsSection button {
	margin: 10px;
}

#createCharacterButton {
	background-color: var(--primary);
}

.hidden {
	opacity: 0;
}

.show {
	opacity: 1;
}

#statsButton {
	background-color: var(--info);
	color: black;
	margin-bottom: 1em;
}

.statKey {
	font-weight: bold;
}

#deleteUserAccount {
	background-color: var(--strength);
}


@media screen and (max-width: 1382px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
	#buttonsSection {
		flex-direction: column;
	}
}

@media screen and (max-width: 600px) {
	#characterSelectPage {
		width: max-content;
	}
}

@media screen and (max-width: 480px) {
	#characterSelectPage {
		padding: 20px 0;
	}
	.stats {
		display: none;
	}
	.level, .time {
		font-weight: 500;
	}
}