#playPage {
	width: 50em;
	min-width: 50em;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

#topRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#speedDropdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

#speedDropdown > .MuiSelect-root, #speedDropdown > .MuiInputLabel-root {
	max-width: 10em;
	color: black;
}

#storyTextArea {
	margin-bottom: 2em;
	min-width: 50em;
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inventoryAndSpeed {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	background-color: var(--foregroundFaded);
	border-radius: 1em;
	padding: 5px 15px 0 0;
}

.inventoryToggle {
	flex-direction: column;
	order: 2;
}

.inventoryCheckbox {
	order: 1;
}

#typewriterDropdownTextLabel {
	font-weight: 400 !important;
}

.Typewriter, .instantTextBlock {
	margin-bottom: 2em;
	border: inset 2px black;
	border-radius: 1em;
	padding: 1em;
	min-width: 95%;
	max-width: 95%;
	min-height: 5em;
	background-color: var(--foregroundFaded);
}

.deathButtons {
	min-width: 14em;
}


@media screen and (max-width: 1382px) {

}

@media screen and (max-width: 992px) {
	#playPage {
		min-width: 90vw;
		width: 90%;
	}
	.Typewriter {
		min-width: 75vw;
	}
	#storyTextArea {
		min-width: unset;
	}
}

@media screen and (max-width: 768px) {
	.Typewriter {
		min-width: 75vw;
	}
}

@media screen and (max-width: 600px) {
	#playPage {
		width: 85%;
	}
}

@media screen and (max-width: 480px) {
	#storyTextArea {
		width: 90%;
	}
	.Typewriter {
		width: 85%;
	}
	#storyButtonArea {
		flex-direction: column;
	}
	.storyChoiceButton {
		min-width: 15em;
	}
}

@media screen and (max-width: 430px) {
	.inventoryAndSpeed {
		padding: 5px;
	}
}